/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #515151;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* N A V  */
.navig {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #1abc9c;
}
.navig_list {
  list-style: none;
  width: 490px;
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}
.navig_list_item {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #1abc9c;
  font-size: 14px;
  line-height: 17px;
  transition: color 0.2s linear, opacity 0.2s linear;
}
.navig_list_item:hover,
.navig_list_item:focus {
  color: #f38181;
}
.navig_list_item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f38181;
  position: relative;
  top: 7px;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.navig_list_item:hover::after {
  opacity: 1;
}
/* M A I N  */

/* SECTION 11111  */
main {
  margin-top: 110px;
}
.work {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 29px;
}
.amazing_servis {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.amazing_servis::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: relative;
  margin: auto;
  top: 31px;
}
.servis_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 55px 10px 0 10px;
}
.item_list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  width: 300px;
  height: 170px;
  list-style: none;
  margin-left: 80px;
}
.item_list:nth-child(3n - 6) {
  margin-right: 0;
}
.item_list:nth-child(n + 3) {
  height: 108px;
}
.item_list::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -60px;
  top: 16px;
}
.item_list:nth-child(1)::before {
  background-image: url(../img/ico_ALARM.png);
}
.item_list:nth-child(2)::before {
  background-image: url(../img/ico_LINEGRAPH.png);
}
.item_list:nth-child(3)::before {
  background-image: url(../img/ico_COMPUTER.png);
}
.item_list:nth-child(4)::before {
  background-image: url(../img/ico_BOOK.png);
}
.item_list:nth-child(5)::before {
  background-image: url(../img/ico_HOME.png);
}
.item_list:nth-child(6)::before {
  background-image: url(../img/ico_DIGITAL.png);
}
.list_name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
.about {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  margin: 0;
}
/* SECTION 2222222 */
.our_team {
  margin-top: 60px;
  margin-bottom: 145px;
}
.text_under_serv {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}
.team {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 85px;
}
.team_list {
  background-color: #95e1d3;
  display: block;
  width: 380px;
  height: 470px;
}
.socials {
  display: block;
  width: 380px;
  height: 470px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: transform 0.2s linear;
  transition: opacity 0.2s linear;
}
.team_foto {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: relative;
  transition: transform 0.2s linear;
}
.gradient {
  position: absolute;
  top: 0px;
  display: block;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(
    0deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  opacity: 0;
  transition: transform 0.2s linear;
  transition: opacity 0.2s linear;
}
.facebook,
.twitter,
.pinterest,
.instagram {
  margin: 0;
  padding: 0;
  border: 1px #b9bcb3;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s linear;
  transition: opacity 0.2s linear;
  transition: background-color 0.2s linear;
}
.team_list:hover .team_foto {
  left: -10px;
  top: -10px;
}
.team_list:hover .socials {
  opacity: 1;
  transform: translate(-10px, -10px);
}
.team_list:hover .gradient {
  opacity: 0.8;
  transform: translate(-10px, -10px);
}
.facebook:hover {
  background-color: #95e1d3;
}
.twitter:hover {
  background-color: #95e1d3;
}
.pinterest:hover {
  background-color: #95e1d3;
}
.instagram:hover {
  background-color: #95e1d3;
}
.name {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin: 20px 0 0 0;
}
.proff {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #999999;
}
/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.info {
  display: inline-block;
}
.byme {
  color: #f38181;
}
.input {
  display: inline-block;
  width: 230px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
}
.button {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #95e1d3;
}
.subscribe {
  display: inline-block;
}
