@mixin font($family, $size, $l-height, $color, $weight: 400, $style: normal) {
  font-family: $family;
  font-size: $size;
  line-height: $l-height;
  color: $color;
  font-weight: $weight;
  font-style: $style;
}

%flex {
  display: flex;
  justify-content: space-between;
}