$navigation-color: #ffffff;
$navigation-color--hover: #fce38a;
$main-color: #333333;
$text-color: #999999;
$social-icon-color: #fce38a;
$social-icon-color--hover: #f38181;
$footer-btn-color: #95e1d3;




