/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

html,
body {
  background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button,
input,
textarea,
section,
option {
  outline: none;
  border: none;
}
button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* HEADER  */
.baner {
  height: 1000px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/background.jpg);
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/background.jpg);
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/background.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}
.navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 158px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navig-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navig__logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: white;
}
.navig-list__item-icon {
  width: 18px;
  height: 15px;
  fill: white;
}
.navig-list__item-icon:hover {
  fill: #fce38a;
}
.navig-list__item {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.creative {
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-size: 72px;
  line-height: 1.2;
  color: white;
  margin-bottom: 35px;
}
.mogo {
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: white;
  letter-spacing: -5px;
}
.learn-more {
  display: block;
  margin: 0 auto 230px;
  width: 160px;
  height: 40px;
  border: 3px solid white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.learn-more:hover {
  border-color: #fce38a;
  color: #fce38a;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.navig-list__item:hover,
.navig-list__item:focus {
  color: #fce38a;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.navig-list__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: relative;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.navig-list__item:hover::after {
  opacity: 1;
}
/* MAIN  */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* SERVISE  */
.servise {
  margin-bottom: 42px;
}
.work {
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  padding-top: 44px;
  margin-bottom: 13px;
}
.amazing-servis {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 66px;
}
.amazing-servis::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: relative;
  margin: auto;
  top: 35px;
}
.servise-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1100px;
  margin-left: 90px;
}
.servise-list__item {
  width: 300px;
}
.servise-list__item-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 10px;
}
.servise-list__item-about {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.servise-list__item:nth-last-child(n + 4) {
  margin-bottom: 64px;
}

.servise-list__item--alarm::before,
.servise-list__item--line-graph::before,
.servise-list__item--computer::before,
.servise-list__item--book::before,
.servise-list__item--home::before,
.servise-list__item--image::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  left: -60px;
  top: 35px;
  background-position: center;
  background-repeat: no-repeat;
}
.servise-list__item--alarm::before {
  background-image: url(../img/alarm.svg);
}
.servise-list__item--line-graph::before {
  background-image: url(../img/line-graph.svg);
}
.servise-list__item--computer::before {
  background-image: url(../img/computer.svg);
}
.servise-list__item--book::before {
  background-image: url(../img/book.svg);
}
.servise-list__item--home::before {
  background-image: url(../img/home.svg);
}
.servise-list__item--image::before {
  background-image: url(../img/image.svg);
}
/* OUR TEAM  */
.our-team-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
  width: 980px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 90px;
  padding-top: 10px;
  letter-spacing: 0.1px;
}
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 144px;
  position: relative;
}
.team::after {
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  position: absolute;
  background-color: #e5e5e5;
  bottom: -152px;
}
.team__list {
  background-color: #95e1d3;
  display: block;
  width: 380px;
  height: 470px;
  position: relative;
}
.team__list__socials {
  width: 380px;
  height: 470px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.team__list:hover .team__list__socials {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  opacity: 1;
}
.facebook__item-icon,
.twitter__item-icon,
.pinterest__item-icon,
.instagram__item-icon {
  width: 26px;
  height: 26px;
  fill: #f38181;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.facebook:hover .facebook__item-icon {
  fill: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.twitter:hover .twitter__item-icon {
  fill: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.pinterest:hover .pinterest__item-icon {
  fill: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.instagram:hover .instagram__item-icon {
  fill: white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.facebook,
.twitter,
.pinterest,
.instagram {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.facebook:hover {
  background-color: #f38181;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.twitter:hover {
  background-color: #f38181;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.pinterest:hover {
  background-color: #f38181;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.instagram:hover {
  background-color: #f38181;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.team__list--gradient {
  position: absolute;
  top: 0px;
  display: block;
  width: 380px;
  height: 470px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.team__list:hover .team__list--gradient {
  opacity: 0.8;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.team__list-foto {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.team__list:hover .team__list-foto {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.team__list-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
  padding-top: 27px;
}
.team__list-proff {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: #999999;
  padding-top: 8px;
}

/* FOOTER  */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__info {
  display: inline-block;
}
.footer__info--color {
  color: #f38181;
}
.input {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  border: 1px solid #e7e7e7;
  width: 230px;
  height: 40px;
}
.button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #95e1d3;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
